Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add apt repository for Pointer?
 The installer would like to add the Pointer repository and signing
 key to update Pointer through apt.
